# Text Data Operations

![image.png]()

1. |`df.astype('string')`| It adds the specified scalar value to every element within the DataFrame df.|
2. |`df['column_name'].str.len()`| It obtains the number of characters in the string values within columns.|
3. |`df['column_name'].str.lower()`| It converts all strings in the column_name of the DataFrame df to lowercase.|
4.|`df['column_name'].str.upper()`| It converts all strings in the column_name of the DataFrame df to uppercase.|
5. |`df['column_name'].str.title()`| It returns a title-cased version of the string where every word starts with an uppercase character.|
6. |`df['column_name'].str.capitalize()`| It returns only uppercases the first character of the entire string, regardless of the number of words present.|
7. |`df['column_name'].str.swapcase()`| It is used to convert every character in a string to a case that is opposite of its current one.|
8. |`df['column_name'].str.casefold()`| It is used to returns a case-folded copy of the string, which can be useful for caseless matching.|
9. |`df['column_name'].str.isalnum()`| Checks whether all characters are alphanumeric in the column.|
10. |`df['column_name'].str.isalpha()`| Checks whether all characters are alphabetic in the column.|
11. |`df['column_name'].str.isdecimal()`| Checks whether all characters are decimal in the column.|
12. |`df['column_name'].str.isdigit()`| Checks whether all characters are digits in the column.|
13. |`df['column_name'].str.islower()`| Checks whether all characters are lowercase in the column.|
14. |`df['column_name'].str.isnumeric()`| Checks whether all characters are numeric in the column.|
15. |`df['column_name'].str.isspace()`| Checks whether all characters are whitespace in the column.|
16. |`df['column_name'].str.istitle()`| Checks whether all characters are titlecase in the column.|
17. |`df['column_name'].str.isupper()`| Checks whether all characters are uppercase in the column.|
18. |`df['column_name'].str.slice()`| It is a way of selecting a subset of characters from a string column.|
19. |`df['column_name'].str.slice_replace()`| It enables us to replace a positional slice of a string with another value.|
20. |`df['column_name'].str.split()`| It splits a string column into multiple columns based on a separator..|
21. |`df['column_name'].str.partition()`| It splits the string at the first occurrence of the separator.|
22. |`df['column_name'].str.cat()`| It helps in concatenating strings.|
23. |`df['column_name'].str.endswith()`| Checks  if each string value in the  column ends with the mentioned string.|
24. |`df['column_name'].str.contains()`| Checks  if each string value in the  column  match , can occur at any position within the string.|
25. |`df['column_name'].str.match()`| Checks  if each string value in the  column  match , must begin at the string's first character.|
26. |`df['column_name'].str.fullmatch()`| Checks  if each string value in the  column  match , the entire string must match the pattern.|
27. |`df['column_name'].str.find()`| It is used to search for a substring within each element of a DataFrame column and return the starting index of its first occurrence.|
28. |`df['column_name'].str.findall()`| It extracts all occurrences of the substring pattern so that the substring repetition count can be derived from the output..|
29. |`df['column_name'].str.extract()`| It is used to extract particular regex patterns that we want to extract from string values.|
30. |`df['column_name'].str.extractall()`| It is used to extract all particular regex patterns that we want to extract from string values.|
31. |`df['column_name'].str.replace()`| It is used to replacing each occurrence of a string or regex pattern.|
32. |`df['column_name'].str.pad()`| It is used for adding extra characters to the beginning or end of a string to make it up to a certain length.|
33. |`df['column_name'].str.rjust()`| Pads left side of strings with an arbitrary character. Equivalent to setting side='left' in pad().|
34. |`df['column_name'].str.ljust()`| Pads right side of strings with an arbitrary character. Equivalent to setting side='right' in pad().|
34. |`df['column_name'].str.center()`| Pads both sides of strings with an arbitrary character. Equivalent to setting side='both' in pad().|
35. |`df['column_name'].str.zfill()`| Pads left side of strings by prepending a 0 character. Equivalent to setting side='left' and fillchar='0' in pad(). |
36. |`df['column_name'].str.strip()`| It strips whitespaces (including newlines) or a set of specified characters from each string from the left and right sides.|
37. |`df['column_name'].str.rstrip()`| It is used if we only want to remove characters from the trailing side.|
38. |`df['column_name'].str.removeprefix()`| It is used if we’re dealing with string values that have a specific prefix.|
39. |`df['column_name'].str.removesuffix()`| It is used if we’re dealing with string values that have a specific suffix.|
40. |`df['column_name'].str.wrap()`| It is used to ensure that the text is wrapped across multiple lines to fit within the available width of the output display.|

In [2]:
import pandas as pd
import numpy as np

## 1. Basic understanding of Text Data Type

In [3]:

data = {
    "Product Name": ["Logitech Brio 4K Webcam", "EMEET 1080P Webcam with Microphone", "NexiGo N60 1080P Web Camera"],
    "Retail Price": [130, 39, 50]
}

df = pd.DataFrame(data)

In [4]:
df

                         Product Name  Retail Price
0             Logitech Brio 4K Webcam           130
1  EMEET 1080P Webcam with Microphone            39
2         NexiGo N60 1080P Web Camera            50

In [5]:
# View data type (dtype) of Product Name column
print(df['Product Name'].dtype)

object

In [6]:
# Obtain string values from existing DataFrame
str_values = df['Product Name'].values
print(str_values)
print('=' * 35)

# Method 1 - StringDtype pandas data type
print('Method 1 output')

method_1_series = pd.Series(str_values, dtype=pd.StringDtype())
print(method_1_series)

# Method 2 - string alias
print('=' * 35)
print('Method 2 output')

method_2_series = pd.Series(str_values, dtype='string')
print(method_2_series)

['Logitech Brio 4K Webcam' 'EMEET 1080P Webcam with Microphone'
 'NexiGo N60 1080P Web Camera']
===================================
Method 1 output
0               Logitech Brio 4K Webcam
1    EMEET 1080P Webcam with Microphone
2           NexiGo N60 1080P Web Camera
dtype: string
===================================
Method 2 output
0               Logitech Brio 4K Webcam
1    EMEET 1080P Webcam with Microphone
2           NexiGo N60 1080P Web Camera
dtype: string

In [7]:
# Convert existing column to string dtype
df['Product Name Converted'] = df['Product Name'].astype('string')

# View output
print(df['Product Name Converted'].dtype)

string

In [8]:
df.head()

,Product Name,Retail Price,Product Name Converted
0,Logitech Brio 4K Webcam,130,Logitech Brio 4K Webcam
1,EMEET 1080P Webcam with Microphone,39,EMEET 1080P Webcam with Microphone
2,NexiGo N60 1080P Web Camera,50,NexiGo N60 1080P Web Camera

## 2. Methods for Basic transformations and checks

Creating the dataset

In [9]:

data = {
    "customer_id": ["264-42-4576", "763-23-7634", "763-55-7634"],
    "title": ['Mr', 'Ms', 'Dr'],
    "first_name": ['Raj', 'Neha', 'Ajay'],
    "last_name": ['martin', 'james', 'jones'],
    "ip_address": ['82.48.155.48/13', '95.48.177.48/18', '82.48.134.48/5'],
    "email": ['rmartin@james.edu', 'njames@gmail.com', 'ajones@yahoo.com'],

}

df = pd.DataFrame(data)

In [10]:
df

   customer_id title first_name last_name       ip_address              email
0  264-42-4576    Mr        Raj    martin  82.48.155.48/13  rmartin@james.edu
1  763-23-7634    Ms       Neha     james  95.48.177.48/18   njames@gmail.com
2  763-55-7634    Dr       Ajay     jones   82.48.134.48/5   ajones@yahoo.com

In [11]:
# Changing the datatype

print(df.dtypes)

df = df.astype('string')

print(df.dtypes)

customer_id    object
title          object
first_name     object
last_name      object
ip_address     object
email          object
dtype: object
customer_id    string[python]
title          string[python]
first_name     string[python]
last_name      string[python]
ip_address     string[python]
email          string[python]
dtype: object

In [12]:
# Get length of values in "title" column
df['title_length'] = df['title'].str.len()

# Display output
print(df[['title', 'title_length']])

  title  title_length
0    Mr             2
1    Ms             2
2    Dr             2

In [13]:
# Lower case first name
df['first_name_lower'] = df['first_name'].str.lower()

# Upper case last name
df['last_name_upper'] = df['last_name'].str.upper()

# Display output
print(df[['first_name', 'first_name_lower', 'last_name', 'last_name_upper']])

  first_name first_name_lower last_name last_name_upper
0        Raj              raj    martin          MARTIN
1       Neha             neha     james           JAMES
2       Ajay             ajay     jones           JONES

In [14]:
# Create full name column
df['full_name'] = df['first_name'] + ' ' + df['last_name']

# Lower case the full name
df['full_name'] = df['full_name'].str.lower()

# Apply titlecase
df['full_name_title'] = df['full_name'].str.title()

# Apply capitalization
df['full_name_capitalize'] = df['full_name'].str.capitalize()

# View output
print(df[['full_name', 'full_name_title', 'full_name_capitalize']])

    full_name full_name_title full_name_capitalize
0  raj martin      Raj Martin           Raj martin
1  neha james      Neha James           Neha james
2  ajay jones      Ajay Jones           Ajay jones

In [15]:
# Swap case of first name
df['first_name_swap'] = df['first_name'].str.swapcase()

# Swap case of last name
df['last_name_swap'] = df['last_name'].str.swapcase()

# Display output
print(df[['first_name', 'first_name_swap', 'last_name', 'last_name_swap']])

  first_name first_name_swap last_name last_name_swap
0        Raj             rAJ    martin         MARTIN
1       Neha            nEHA     james          JAMES
2       Ajay            aJAY     jones          JONES

In [16]:
# Create new column for demo string values
df['demo'] = pd.Series(['ß', 'ßß', 'ßßß'])

# Apply casefold method
df['demo_casefolded'] = df['demo'].str.casefold()

print(df)

   customer_id title first_name last_name       ip_address              email  \
0  264-42-4576    Mr        Raj    martin  82.48.155.48/13  rmartin@james.edu
1  763-23-7634    Ms       Neha     james  95.48.177.48/18   njames@gmail.com
2  763-55-7634    Dr       Ajay     jones   82.48.134.48/5   ajones@yahoo.com

   title_length first_name_lower last_name_upper   full_name full_name_title  \
0             2              raj          MARTIN  raj martin      Raj Martin
1             2             neha           JAMES  neha james      Neha James
2             2             ajay           JONES  ajay jones      Ajay Jones

  full_name_capitalize first_name_swap last_name_swap demo demo_casefolded
0           Raj martin             rAJ         MARTIN    ß              ss
1           Neha james            nEHA          JAMES   ßß            ssss
2           Ajay jones            aJAY          JONES  ßßß          ssssss

In [17]:
# Check isnumeric for customer_id
df['customer_id_isnumeric'] = df['customer_id'].str.isnumeric()

# Check istitle for title
df['title_istitle'] = df['title'].str.istitle()

# Check isalpha for first_name
df['first_name_isalpha'] = df['first_name'].str.isalpha()

# Check isalnum for last_name
df['last_name_isalnum'] = df['last_name'].str.isalnum()

# Check isdigit for ip_address
df['ip_address_isdigit'] = df['ip_address'].str.isdigit()

# Check islower for email
df['email_islower'] = df['email'].str.islower()

# View output
print(df[['customer_id', 'customer_id_isnumeric',
          'title', 'title_istitle',
          'first_name', 'first_name_isalpha',
          'last_name', 'last_name_isalnum',
          'ip_address', 'ip_address_isdigit',
          'email', 'email_islower'
        ]])

   customer_id  customer_id_isnumeric title  title_istitle first_name  \
0  264-42-4576                  False    Mr           True        Raj
1  763-23-7634                  False    Ms           True       Neha
2  763-55-7634                  False    Dr           True       Ajay

   first_name_isalpha last_name  last_name_isalnum       ip_address  \
0                True    martin               True  82.48.155.48/13
1                True     james               True  95.48.177.48/18
2                True     jones               True   82.48.134.48/5

   ip_address_isdigit              email  email_islower
0               False  rmartin@james.edu           True
1               False   njames@gmail.com           True
2               False   ajones@yahoo.com           True

In [18]:
df

,customer_id,title,first_name,last_name,ip_address,email,title_length,first_name_lower,last_name_upper,full_name,...,first_name_swap,last_name_swap,demo,demo_casefolded,customer_id_isnumeric,title_istitle,first_name_isalpha,last_name_isalnum,ip_address_isdigit,email_islower
0,264-42-4576,Mr,Raj,martin,82.48.155.48/13,rmartin@james.edu,2,raj,MARTIN,raj martin,...,rAJ,MARTIN,ß,ss,False,True,True,True,False,True
1,763-23-7634,Ms,Neha,james,95.48.177.48/18,njames@gmail.com,2,neha,JAMES,neha james,...,nEHA,JAMES,ßß,ssss,False,True,True,True,False,True
2,763-55-7634,Dr,Ajay,jones,82.48.134.48/5,ajones@yahoo.com,2,ajay,JONES,ajay jones,...,aJAY,JONES,ßßß,ssssss,False,True,True,True,False,True

## 3. String Methods - Slice, Split, and Partition

In [19]:

data = {
    "customer_id": ["264-42-4576", "763-23-7634", "763-55-7634"],
    "title": ['Mr', 'Ms', 'Dr'],
    "first_name": ['Raj', 'Neha', 'Ajay'],
    "last_name": ['martin', 'james', 'jones'],
    "ip_address": ['82.48.155.48/13', '95.48.177.48/18', '82.48.134.48/5'],
    "email": ['rmartin@james.edu', 'njames@gmail.com', 'ajones@yahoo.com'],

}

df = pd.DataFrame(data)
df

   customer_id title first_name last_name       ip_address              email
0  264-42-4576    Mr        Raj    martin  82.48.155.48/13  rmartin@james.edu
1  763-23-7634    Ms       Neha     james  95.48.177.48/18   njames@gmail.com
2  763-55-7634    Dr       Ajay     jones   82.48.134.48/5   ajones@yahoo.com

### A. slice

In [20]:
# Method 1 - Index brackets for slicing
df['slicing_with_index_brackets'] = df['customer_id'].str[0:3]

# Method 2 - slice() method
df['slicing_with_slice_method'] = df['customer_id'].str.slice(start=0, stop=3)

# View output
print(df[['customer_id', 'slicing_with_index_brackets', 'slicing_with_slice_method']])

   customer_id slicing_with_index_brackets slicing_with_slice_method
0  264-42-4576                         264                       264
1  763-23-7634                         763                       763
2  763-55-7634                         763                       763

In [21]:
# Method 1 - Index brackets for slicing (with steps)
df['slicing_with_index_brackets'] = df['customer_id'].str[::2]

# Method 2 - slice() method (with steps)
df['slicing_with_slice_method'] = df['customer_id'].str.slice(start=0, step=2)

# View output
print(df[['customer_id', 'slicing_with_index_brackets', 'slicing_with_slice_method']])

   customer_id slicing_with_index_brackets slicing_with_slice_method
0  264-42-4576                      244-56                    244-56
1  763-23-7634                      732-64                    732-64
2  763-55-7634                      735-64                    735-64

In [22]:
# Slicing with replacement at index char positions 4 and 5
df['slice_replace'] = df['customer_id'].str.slice_replace(start=4,
                                                          stop=6,
                                                          repl='XX')

# View output
print(df[['customer_id', 'slice_replace']])

   customer_id slice_replace
0  264-42-4576   264-XX-4576
1  763-23-7634   763-XX-7634
2  763-55-7634   763-XX-7634

## B. Split

In [23]:
# Splitting values with '-' as separator (aka delimiter)
output = df['customer_id'].str.split(pat='-')

print(output)

0    [264, 42, 4576]
1    [763, 23, 7634]
2    [763, 55, 7634]
Name: customer_id, dtype: object

In [24]:
# Obtain first element (index 0) of each split list
output = df['customer_id'].str.split(pat='-').str.get(0)

print(output)

0    264
1    763
2    763
Name: customer_id, dtype: object

In [25]:
# Splitting and expand values
output_df = df['customer_id'].str.split(pat='-', expand=True)

print(output_df)
print(type(output_df))

     0   1     2
0  264  42  4576
1  763  23  7634
2  763  55  7634
<class 'pandas.core.frame.DataFrame'>

In [26]:
# Splitting and expand values, and limiting splits to just 1
output_df = df['customer_id'].str.split(pat='-', expand=True, n=1)

print(output_df)

     0        1
0  264  42-4576
1  763  23-7634
2  763  55-7634

In [27]:
# Define regex for period, 3 digits, and a period
regex_pat = "\.\d{3}\."

# Splitting and expand values
output_df = df['ip_address'].str.split(pat=regex_pat,
                                       expand=True,
                                       regex=True)

# Concatenate original column to show split effect
output_df_2 = pd.concat([df[['ip_address']], output_df], axis=1)

print(output_df_2)

        ip_address      0      1
0  82.48.155.48/13  82.48  48/13
1  95.48.177.48/18  95.48  48/18
2   82.48.134.48/5  82.48   48/5

In [28]:
# Normal split
split_output = df['customer_id'].str.split(pat='-', expand=True, n=1)
print('Output of split()')
print(split_output)

print('=' * 25)

# Reverse split
rsplit_output = df['customer_id'].str.rsplit(pat='-', expand=True, n=1)
print('Output of rsplit()')
print(rsplit_output)

Output of split()
     0        1
0  264  42-4576
1  763  23-7634
2  763  55-7634
=========================
Output of rsplit()
        0     1
0  264-42  4576
1  763-23  7634
2  763-55  7634

### C. Partition

In [29]:
# Partition at @ separator
output = df['email'].str.partition(sep='@')

print(output)

         0  1          2
0  rmartin  @  james.edu
1   njames  @  gmail.com
2   ajones  @  yahoo.com

In [30]:
# Partition operation where separator is not found
output = df['email'].str.partition(sep='!')

print(output)

                   0 1 2
0  rmartin@james.edu
1   njames@gmail.com
2   ajones@yahoo.com

In [31]:
# Normal partition
partition_output = df['customer_id'].str.partition(sep='-')
print('Output of partition()')
print(partition_output)

print('=' * 25)

# Reverse partition
rpartition_output = df['customer_id'].str.rpartition(sep='-')
print('Output of rpartition()')
print(rpartition_output)

Output of partition()
     0  1        2
0  264  -  42-4576
1  763  -  23-7634
2  763  -  55-7634
=========================
Output of rpartition()
        0  1     2
0  264-42  -  4576
1  763-23  -  7634
2  763-55  -  7634

## 4. String Methods - Concatenations and Match

In [32]:

data = {
    "customer_id": ["264-42-4576", "763-23-7634", "763-55-7634"],
    "title": ['Mr', 'Ms', 'Dr'],
    "first_name": ['Raj', 'Neha', 'Ajay'],
    "last_name": ['martin', 'james', 'jones'],
    "ip_address": ['82.48.155.48/13', '95.48.177.48/18', '82.48.134.48/5'],
    "email": ['rmartin@james.edu', 'njames@gmail.com', 'ajones@yahoo.com'],

}

df = pd.DataFrame(data)
df

   customer_id title first_name last_name       ip_address              email
0  264-42-4576    Mr        Raj    martin  82.48.155.48/13  rmartin@james.edu
1  763-23-7634    Ms       Neha     james  95.48.177.48/18   njames@gmail.com
2  763-55-7634    Dr       Ajay     jones   82.48.134.48/5   ajones@yahoo.com

### A. Concatenation

In [33]:
# Concatenate first and last names
df['full_name'] = df['first_name'].str.cat(others=df['last_name'],
                                           sep=' ')

# View output
print(df[['full_name', 'first_name', 'last_name']])

    full_name first_name last_name
0  Raj martin        Raj    martin
1  Neha james       Neha     james
2  Ajay jones       Ajay     jones

In [34]:
# Concatenate first and last names with na_rep parameter utilized
df['full_name'] = df['first_name'].str.cat(others=df['last_name'],
                                           sep=' ',
                                           na_rep='unknown')

# View output
print(df[['full_name', 'first_name', 'last_name']])

    full_name first_name last_name
0  Raj martin        Raj    martin
1  Neha james       Neha     james
2  Ajay jones       Ajay     jones

In [35]:
# Concatenate first and last names with na_rep parameter utilized
df['full_name'] = df['title'].str.cat(others=[df['first_name'], df['last_name']],
                                              sep=' ')

# View output
print(df[['full_name', 'title', 'first_name', 'last_name']])

       full_name title first_name last_name
0  Mr Raj martin    Mr        Raj    martin
1  Ms Neha james    Ms       Neha     james
2  Dr Ajay jones    Dr       Ajay     jones

### B. Match

In [39]:
# Check if value ends with '.com'
output = df['email'].str.endswith('.com')

print(output)

0    False
1     True
2     True
Name: email, dtype: bool

In [40]:
# Define pattern for matching
pattern = '48.134'

# Match pattern with contains()
contains_output = df['ip_address'].str.contains(pat=pattern).rename('contains()')

# Match pattern with match()
match_output = df['ip_address'].str.match(pat=pattern).rename('match()')

# Match pattern with fullmatch()
fullmatch_output = df['ip_address'].str.fullmatch(pat=pattern).rename('fullmatch()')

# Combine outputs into original DataFrame
output_df = pd.concat([df, contains_output, match_output, fullmatch_output],
                      axis=1)

# Keep relevant columns
output_df = output_df[['ip_address', 'contains()', 'match()', 'fullmatch()']]

# View output of first row only
print(output_df)

        ip_address  contains()  match()  fullmatch()
0  82.48.155.48/13       False    False        False
1  95.48.177.48/18       False    False        False
2   82.48.134.48/5        True    False        False

In [42]:
# Define pattern for matching
pattern = '82.48'

# Match pattern with contains()
contains_output = df['ip_address'].str.contains(pat=pattern).rename('contains()')

# Match pattern with match()
match_output = df['ip_address'].str.match(pat=pattern).rename('match()')

# Match pattern with fullmatch()
fullmatch_output = df['ip_address'].str.fullmatch(pat=pattern).rename('fullmatch()')

# Combine outputs into original DataFrame
output_df = pd.concat([df, contains_output, match_output, fullmatch_output],
                      axis=1)

# Keep relevant columns
output_df = output_df[['ip_address', 'contains()', 'match()', 'fullmatch()']]

# View output of first row only
print(output_df)

        ip_address  contains()  match()  fullmatch()
0  82.48.155.48/13        True     True        False
1  95.48.177.48/18       False    False        False
2   82.48.134.48/5        True     True        False

In [43]:
# Define regex pattern for matching
regex = '\.[a-z]{3}'

# Match pattern with contains()
contains_output = df['email'].str.contains(pat=regex).rename('contains()')

# Match pattern with match()
match_output = df['email'].str.match(pat=regex).rename('match()')

# Match pattern with fullmatch()
fullmatch_output = df['email'].str.fullmatch(pat=regex).rename('fullmatch()')

# Combine outputs into original DataFrame
output_df = pd.concat([df, contains_output, match_output, fullmatch_output],
                      axis=1)

# Keep relevant columns
output_df = output_df[['email', 'contains()', 'match()', 'fullmatch()']]

# View output
print(output_df)

               email  contains()  match()  fullmatch()
0  rmartin@james.edu        True    False        False
1   njames@gmail.com        True    False        False
2   ajones@yahoo.com        True    False        False

## 5. String Methods : Find, Extract, and Replace

In [44]:

data = {
    "customer_id": ["264-42-4576", "763-23-7634", "763-55-7634"],
    "title": ['Mr', 'Ms', 'Dr'],
    "first_name": ['Raj', 'Neha', 'Ajay'],
    "last_name": ['martin', 'james', 'jones'],
    "ip_address": ['82.48.155.48/13', '95.48.177.48/18', '82.48.134.48/5'],
    "email": ['rmartin@james.edu', 'njames@gmail.com', 'ajones@yahoo.com'],

}

df = pd.DataFrame(data)
df

   customer_id title first_name last_name       ip_address              email
0  264-42-4576    Mr        Raj    martin  82.48.155.48/13  rmartin@james.edu
1  763-23-7634    Ms       Neha     james  95.48.177.48/18   njames@gmail.com
2  763-55-7634    Dr       Ajay     jones   82.48.134.48/5   ajones@yahoo.com

### A. Find

In [45]:
# Find lowest index of substring occurrence
df['find'] = df['customer_id'].str.find('76')

# View output
print(df[['customer_id', 'find']])

   customer_id  find
0  264-42-4576     9
1  763-23-7634     0
2  763-55-7634     0

In [46]:
# Find lowest index of substring occurrence
df['find'] = df['customer_id'].str.find('76')

# Find highest index of substring occurrence
df['rfind'] = df['customer_id'].str.rfind('76')

# View output
print(df[['customer_id', 'find', 'rfind']])

   customer_id  find  rfind
0  264-42-4576     9      9
1  763-23-7634     0      7
2  763-55-7634     0      7

In [47]:
# Find lowest index of substring occurrence from index 5 onwards
df['find'] = df['customer_id'].str.find(sub='76',
                                        start=5,
                                        end=None)

# View output
print(df[['customer_id', 'find']])

   customer_id  find
0  264-42-4576     9
1  763-23-7634     7
2  763-55-7634     7

In [48]:
# Find all indexes of substring occurrence
df['find_all'] = df['customer_id'].str.findall(pat='76')

# View output
print(df[['customer_id', 'find_all']])

   customer_id  find_all
0  264-42-4576      [76]
1  763-23-7634  [76, 76]
2  763-55-7634  [76, 76]

### B. Extract

In [49]:
# Define regex pattern (to be placed within parentheses)
regex = '(-\\d{2}-)'

# Extract substrings of regex pattern
df['extract'] = df['customer_id'].str.extract(pat=regex)

# View output
print(df[['customer_id', 'extract']])

   customer_id extract
0  264-42-4576    -42-
1  763-23-7634    -23-
2  763-55-7634    -55-

In [50]:
# Define regex pattern (to be placed within parentheses)
regex = '(\d{2}\.)'

# Extract all substrings of regex pattern
output_df = df['ip_address'].str.extractall(pat=regex)

# View output
print(output_df)

           0
  match
0 0      82.
  1      48.
  2      55.
1 0      95.
  1      48.
  2      77.
2 0      82.
  1      48.
  2      34.

In [51]:
df

,customer_id,title,first_name,last_name,ip_address,email,find,rfind,find_all,extract
0,264-42-4576,Mr,Raj,martin,82.48.155.48/13,rmartin@james.edu,9,9,[76],-42-
1,763-23-7634,Ms,Neha,james,95.48.177.48/18,njames@gmail.com,7,7,"[76, 76]",-23-
2,763-55-7634,Dr,Ajay,jones,82.48.134.48/5,ajones@yahoo.com,7,7,"[76, 76]",-55-

### C. Replace

In [52]:
# Replace substring
df['replaced'] = df['email'].str.replace('.edu', '.com')

# View output
print(df[['email', 'replaced']].head(1))

               email           replaced
0  rmartin@james.edu  rmartin@james.com

In [53]:
# Define regex pattern
regex = '\.\w{3}$'

df['replaced'] = df['email'].str.replace(regex, '.net', regex=True, case=False)

# View output
print(df[['email', 'replaced']])

               email           replaced
0  rmartin@james.edu  rmartin@james.net
1   njames@gmail.com   njames@gmail.net
2   ajones@yahoo.com   ajones@yahoo.net

## 6. String Methods - Leading and Trailing Characters

In [ ]:

data = {
    "customer_id": ["264-42-4576", "763-23-7634", "763-55-7634"],
    "title": ['Mr', 'Ms', 'Dr'],
    "first_name": ['Raj', 'Neha', 'Ajay'],
    "last_name": ['martin', 'james', 'jones'],
    "ip_address": ['82.48.155.48/13', '95.48.177.48/18', '82.48.134.48/5'],
    "email": ['rmartin@james.edu', 'njames@gmail.com', 'ajones@yahoo.com'],

}

df = pd.DataFrame(data)
df

   customer_id title first_name last_name       ip_address              email
0  264-42-4576    Mr        Raj    martin  82.48.155.48/13  rmartin@james.edu
1  763-23-7634    Ms       Neha     james  95.48.177.48/18   njames@gmail.com
2  763-55-7634    Dr       Ajay     jones   82.48.134.48/5   ajones@yahoo.com

### Padding

In [ ]:
# Perform left padding with '_' to reach 10 characters
df['first_name_padded'] = df['first_name'].str.pad(width=10,
                                                   side='left',
                                                   fillchar='_')

# View output
print(df[['first_name', 'first_name_padded']])

  first_name first_name_padded
0        Raj        _______Raj
1       Neha        ______Neha
2       Ajay        ______Ajay

In [ ]:
# Pad from BOTH sides with '*' to reach 10 characters
df['first_name_padded'] = df['first_name'].str.pad(width=10,
                                                   side='both',
                                                   fillchar='*')

# View output
print(df[['first_name', 'first_name_padded']])

  first_name first_name_padded
0        Raj        ***Raj****
1       Neha        ***Neha***
2       Ajay        ***Ajay***

### strip

In [ ]:
# Define characters (/5 and /2) to strip
chars = '/13/5'

# Strip characters from string values (both sides)
df['ip_address_strip'] = df['ip_address'].str.strip(to_strip=chars)

# View output
print(df[['ip_address', 'ip_address_strip']])

        ip_address ip_address_strip
0  82.48.155.48/13     82.48.155.48
1  95.48.177.48/18  95.48.177.48/18
2   82.48.134.48/5     82.48.134.48

In [ ]:
# Define characters (/5 and /2) to strip
chars = '/13/5'

# Use rstrip to strip characters only from right side (i.e., trailing characters)
df['ip_address_rstrip'] = df['ip_address'].str.rstrip(to_strip=chars)

# View output
print(df[['ip_address', 'ip_address_rstrip']])

        ip_address ip_address_rstrip
0  82.48.155.48/13      82.48.155.48
1  95.48.177.48/18   95.48.177.48/18
2   82.48.134.48/5      82.48.134.48